### Import libraries

In [1]:
## this code is developed by Jose Maria Alonso-Moral

import os

# Setting Java8 is needed for compatibility with JFML (IEEE standard 1855-2016)
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!java -version
os.system("pip install simplenlg --quiet")

openjdk version "1.8.0_442"
OpenJDK Runtime Environment (build 1.8.0_442-8u442-b06~us1-0ubuntu1~22.04-b06)
OpenJDK 64-Bit Server VM (build 25.442-b06, mixed mode)

0

In [2]:
from simplenlg.framework import *
from simplenlg.lexicon import *
from simplenlg.realiser.english import *
from simplenlg.phrasespec import *
from simplenlg.features import *

import pandas as pd
import numpy as np
from ast import literal_eval
from sklearn.neighbors import NearestNeighbors

### Functions

In [27]:
def first_phrase_explanation(movie, recommendation, genres):
    lexicon = Lexicon.getDefaultLexicon()
    nlgFactory = NLGFactory(lexicon)
    realiser = Realiser(lexicon)

     # SENTENCE 1
    # PART 1
    sentence1_1 = nlgFactory.createClause()
    subj = nlgFactory.createNounPhrase("we")
    sentence1_1.setSubject(subj)
    sentence1_1.setVerb("recommend")
    sentence1_1.setIndirectObject("you")
    sentence1_1.setObject(recommendation)

    sentence1_1.setFeature(Feature.TENSE, Tense.PRESENT)

    # PART 2
    sentence1_2 = nlgFactory.createClause("it", "be", "the most similar")
    similar_clause = nlgFactory.createClause(movie)
    similar_clause.setFeature(Feature.COMPLEMENTISER, "to")
    sentence1_2.addComplement(similar_clause)

    # PART 3
    sentence1_3 = nlgFactory.createClause()
    subj = nlgFactory.createNounPhrase("genre list")
    subj.setDeterminer("its")
    sentence1_3.setSubject(subj)
    sentence1_3.setVerb("be")
    sentence1_3.setFeature(Feature.TENSE, Tense.PRESENT);

    # PART 4
    if len(genres) > 0:
        genre1 = nlgFactory.createNounPhrase(genres[0]);
        sentence1_4 = nlgFactory.createCoordinatedPhrase(genre1);
        for i in range(1, len(genres)):
            sentence1_4.addCoordinate(genres[i]);
        
    sentence1_4.setFeature(Feature.COMPLEMENTISER, "")
    sentence1_3.addComplement(sentence1_4)

    # UNION
    sentence1_2.setFeature(Feature.COMPLEMENTISER, "because")
    sentence1_1.addComplement(sentence1_2)
    sentence_1 = nlgFactory.createCoordinatedPhrase(sentence1_1, sentence1_3)
    print(realiser.realiseSentence(sentence_1))

In [28]:
def second_phrase_explanation(recommendation, previous_recommendation, popularity):
    lexicon = Lexicon.getDefaultLexicon()
    nlgFactory = NLGFactory(lexicon)
    realiser = Realiser(lexicon)

     # SENTENCE 2
    # PART 1
    sentence2_1 = nlgFactory.createClause()
    subj = nlgFactory.createNounPhrase("you")
    sentence2_1.setSubject(subj)
    sentence2_1.addModifier("also")
    sentence2_1.setVerb("may like")
    sentence2_1.setObject(recommendation)

    # PART 2
    sentence2_2 = nlgFactory.createClause("it", "be")
    sentence2_2.addComplement("more")
    sentence2_2.addComplement("popular")
    sentence2_2.addComplement("than")
    sentence2_2.addComplement(previous_recommendation)
    
    # UNION
    sentence2_2.setFeature(Feature.COMPLEMENTISER, "because")
    sentence2_1.addComplement(sentence2_2)
    sentence2_1.addComplement("with")
    sentence2_1.addComplement("an")
    sentence2_1.addComplement("average")
    sentence2_1.addComplement("of")
    sentence2_1.addModifier(str(popularity))
    
    print(realiser.realiseSentence(sentence2_1))

In [29]:
def third_phrase_explanation(movie, recommendation_list):
    lexicon = Lexicon.getDefaultLexicon()
    nlgFactory = NLGFactory(lexicon)
    realiser = Realiser(lexicon)

    # SENTENCE 3
    # PART 1
    sentence3_1 = nlgFactory.createClause()
    sentence3_1.setObject("some other films")
    subj = nlgFactory.createNounPhrase("you")
    sentence3_1.setSubject(subj)
    sentence3_1.setVerb("may like")
    
    # PART 2
    sentence3_2 = nlgFactory.createClause()
    subj = nlgFactory.createNounPhrase("you")
    sentence3_2.setSubject(subj)
    sentence3_2.setVerb("enjoy")
    sentence3_2.setFeature(Feature.TENSE, Tense.PAST);
    sentence3_2.setObject(movie)

    # UNION
    sentence3_2.setFeature(Feature.COMPLEMENTISER, "if")
    sentence3_1.addComplement(sentence3_2)
    print(realiser.realiseSentence(sentence3_1))

    # PART 3
    for movie, similarity_level in recommendation_list:

        # PART 3.1
        sentence1 = nlgFactory.createClause()
        subj = nlgFactory.createNounPhrase(f"\"{movie}\"")
        sentence1.setSubject(subj)

        # PART 3.2
        sentence2 = nlgFactory.createClause("it", "be", f"{calculate_similarity(similarity_level)}")

        # UNION
        sentence2.setFeature(Feature.COMPLEMENTISER, "because")
        sentence1.addComplement(sentence2)

        print(realiser.realiseSentence(sentence1))

In [82]:
def calculate_similarity(distance):
    if distance >= 0.85:
        return "\"Something new\""
    elif distance >= 0.7:
        return "\"Slightly Similar\""
    elif distance >= 0.4:
        return "\"Similar\""
    else:
        return "\"Very Similar\""

In [31]:
def make_explanation(movie, recommendation_1, recommendation_2, recommendation_list):
    """
    movie : str
        The name of the movie used to make the recomendations
    recommendation_1 : dict
        The closest movie in terms of distance
    recommendation_2 : dict
        The movie with the highest popularity among the recommended
    recommendation_list : list
        A list containing (name of the recommended movie, distance to the base movie)
    """

    # Extracting the data
    name_recommendation_1 = recommendation_1['title']
    genres_recommendation_1 = recommendation_1['genres']
    popularity_recommendation_1 = recommendation_1['popularity']

    name_recommendation_2 = recommendation_2['title']
    genres_recommendation_2 = recommendation_2['genres']
    popularity_recommendation_2 = recommendation_2['popularity']

    # Building the explanations
    # PHRASE 1
    first_phrase_explanation(
        movie=movie,
        recommendation=name_recommendation_1,
        genres = genres_recommendation_1
    )

    # PHRASE 2
    second_phrase_explanation(
        recommendation=name_recommendation_2,
        previous_recommendation=name_recommendation_1,
        popularity=popularity_recommendation_2
    )
    print("\n")
    
    # PHRASE 3
    third_phrase_explanation(
        movie=movie,
        recommendation_list=recommendation_list
    )

### Load & Preprocess data

In [3]:
tmdb_5000_credits = pd.read_csv("datasets/movies-2/tmdb_5000_credits.csv")
tmdb_5000_movies = pd.read_csv("datasets/movies-2/tmdb_5000_movies.csv")

In [4]:
columns_movies = ["budget", "genres", "id", "original_language", "original_title", "overview", "popularity", "production_countries", "release_date", "spoken_languages", "vote_average", "vote_count"]
columns_credits = ["movie_id", "title", "cast", "crew"]

tmdb_5000_movies = tmdb_5000_movies[columns_movies]
tmdb_5000_credits = tmdb_5000_credits[columns_credits]

for column in ["genres", "production_countries", "spoken_languages"]:
    tmdb_5000_movies[column] = tmdb_5000_movies[column].apply(literal_eval)

for column in ["crew", "cast"]:
    tmdb_5000_credits[column] = tmdb_5000_credits[column].apply(literal_eval)

In [5]:
tmdb_5000_credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [6]:
tmdb_5000_movies.head(5)

,budget,genres,id,original_language,original_title,overview,popularity,production_countries,release_date,spoken_languages,vote_average,vote_count
0,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.2,11800
1,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{'iso_3166_1': 'US', 'name': 'United States o...",2007-05-19,"[{'iso_639_1': 'en', 'name': 'English'}]",6.9,4500
2,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2015-10-26,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",6.3,4466
3,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{'iso_3166_1': 'US', 'name': 'United States o...",2012-07-16,"[{'iso_639_1': 'en', 'name': 'English'}]",7.6,9106
4,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{'iso_3166_1': 'US', 'name': 'United States o...",2012-03-07,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,2124

In [7]:
def preprocess_dict(column: str, key: str = "name"):
    genres_column = tmdb_5000_movies[column]
    genres_column_processed = []
    for item in genres_column:
        genres_column_processed.append([dic[key] for dic in item])
    return genres_column_processed

In [8]:
tmdb_5000_movies["genres"] = preprocess_dict("genres")
tmdb_5000_movies["production_countries"] = preprocess_dict("production_countries")
tmdb_5000_movies["spoken_languages"] = preprocess_dict("spoken_languages")

In [9]:
tmdb_5000_movies.head(5)

,budget,genres,id,original_language,original_title,overview,popularity,production_countries,release_date,spoken_languages,vote_average,vote_count
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[United States of America, United Kingdom]",2009-12-10,"[English, Español]",7.2,11800
1,300000000,"[Adventure, Fantasy, Action]",285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,[United States of America],2007-05-19,[English],6.9,4500
2,245000000,"[Action, Adventure, Crime]",206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[United Kingdom, United States of America]",2015-10-26,"[Français, English, Español, Italiano, Deutsch]",6.3,4466
3,250000000,"[Action, Crime, Drama, Thriller]",49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,[United States of America],2012-07-16,[English],7.6,9106
4,260000000,"[Action, Adventure, Science Fiction]",49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,[United States of America],2012-03-07,[English],6.1,2124

In [10]:
tmdb_5000_movies = tmdb_5000_movies.merge(tmdb_5000_credits, left_on='id', right_on='movie_id')

In [11]:
print(tmdb_5000_movies.shape)
tmdb_5000_movies = tmdb_5000_movies[tmdb_5000_movies['budget'].apply(lambda x: x > 0)]
tmdb_5000_movies = tmdb_5000_movies[tmdb_5000_movies['genres'].apply(lambda x: len(x) > 0)]
print(tmdb_5000_movies.shape)

(4803, 16)
(3762, 16)

In [12]:
tmdb_5000_movies = tmdb_5000_movies.reset_index(drop=True)

In [13]:
tmdb_5000_movies["cast"] = preprocess_dict("cast", "name")

In [14]:
tmdb_5000_movies.head()

,budget,genres,id,original_language,original_title,overview,popularity,production_countries,release_date,spoken_languages,vote_average,vote_count,movie_id,title,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[United States of America, United Kingdom]",2009-12-10,"[English, Español]",7.2,11800,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,300000000,"[Adventure, Fantasy, Action]",285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,[United States of America],2007-05-19,[English],6.9,4500,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,245000000,"[Action, Adventure, Crime]",206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[United Kingdom, United States of America]",2015-10-26,"[Français, English, Español, Italiano, Deutsch]",6.3,4466,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,250000000,"[Action, Crime, Drama, Thriller]",49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,[United States of America],2012-07-16,[English],7.6,9106,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,260000000,"[Action, Adventure, Science Fiction]",49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,[United States of America],2012-03-07,[English],6.1,2124,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [15]:
tmdb_5000_movies['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [16]:
titles = tmdb_5000_movies['original_title']

In [17]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [18]:
def get_list(x):
    if isinstance(x, list):
        if len(x) > 5:
            x = x[:5]
        return x

    return []

In [19]:
tmdb_5000_movies['director'] = tmdb_5000_movies['crew'].apply(get_director)

features = ['cast', 'genres']
for feature in features:
    tmdb_5000_movies[feature] = tmdb_5000_movies[feature].apply(get_list)

In [20]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [21]:
features = ['cast', 'director', 'genres']

for feature in features:
    tmdb_5000_movies[feature] = tmdb_5000_movies[feature].apply(clean_data)

In [22]:
def create_soup(x):
    return ' '.join(x['cast']) + ' ' + x['director'] + ' '.join(x['genres'])
tmdb_5000_movies['soup'] = tmdb_5000_movies.apply(create_soup, axis=1)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler

tfidf = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf.fit_transform(tmdb_5000_movies['soup'])
tfidf_matrix_dense = tfidf_matrix.toarray()
scaler = StandardScaler()
tfidf_matrix_standardized = scaler.fit_transform(tfidf_matrix_dense)

print(tfidf_matrix_standardized.shape)

(3762, 10242)

In [66]:
knn = NearestNeighbors(n_neighbors=15, metric='cosine', algorithm='brute')
knn.fit(tfidf_matrix_standardized)

def get_recommendation(title, k=10):
    idx = tmdb_5000_movies[tmdb_5000_movies['original_title'] == title].index[0]
    distances, indices = knn.kneighbors(tfidf_matrix_standardized[idx].reshape(1, -1), n_neighbors=k+1)
    print(sorted(distances[0]))
    recommendations = []
    for i in range(1, len(indices[0])):
        recommendations.append(tmdb_5000_movies.iloc[indices[0][i]][['original_title', 'genres', 'popularity', 'cast', 'vote_average', 'director', 'overview']])
    
    return recommendations, distances[0][1:]

In [84]:
movie_name = "Avatar"
recommendations, distances = get_recommendation(movie_name, k=10)
print(f"Recommendations if you saw '{movie_name}':")
actores = tmdb_5000_movies.query("original_title == @movie_name")['cast']
for i, recommendation in enumerate(recommendations):
    recommendations[i]['same_actors'] = len(set(actores.values[0]) & set(recommendation['cast']))
    recommendations[i]['distances'] = distances[i]
pd.DataFrame(recommendations)

[0.0, 0.7486443031085062, 0.7666108289257597, 0.8028069696991798, 0.8228118031508348, 0.8259422883694896, 0.862762879196903, 0.8693684473169241, 0.8700765094021001, 0.891874657706978, 0.8933359938559339]
Recommendations if you saw 'Avatar':

,original_title,genres,popularity,cast,vote_average,director,overview,same_actors,distances
281,True Lies,"[action, thriller]",38.729418,"[arnoldschwarzenegger, jamieleecurtis, tomarno...",6.8,jamescameron,Harry Tasker is a secret agent for the United ...,0,0.748644
1065,Shadow Conspiracy,"[action, thriller]",3.848893,"[charliesheen, donaldsutherland, lindahamilton...",4.0,georgep.cosmatos,Bobby Bishop (Sheen) is a special assistant to...,1,0.766611
2993,The Terminator,"[action, thriller, sciencefiction]",74.234793,"[arnoldschwarzenegger, michaelbiehn, lindahami...",7.3,jamescameron,"In the post-apocalyptic future, reigning tyran...",0,0.802807
278,Terminator 2: Judgment Day,"[action, thriller, sciencefiction]",101.741550,"[arnoldschwarzenegger, lindahamilton, robertpa...",7.7,jamescameron,Nearly 10 years have passed since Sarah Connor...,0,0.822812
835,Gods and Generals,"[drama, history, war]",4.362535,"[stephenlang, jeffdaniels, robertduvall, kevin...",6.1,ronaldf.maxwell,The film centers mostly around the personal an...,1,0.825942
2008,The Debt,"[drama, thriller]",14.857884,"[helenmirren, ciaránhinds, tomwilkinson, jessi...",6.3,johnmadden,Rachel Singer is a former Mossad agent who tri...,1,0.862763
2526,Machete,"[action, comedy, thriller]",26.396191,"[dannytrejo, michellerodriguez, jessicaalba, r...",6.3,robertrodriguez,After being set-up and betrayed by the man who...,1,0.869368
43,Terminator Salvation,"[action, sciencefiction, thriller]",71.862892,"[christianbale, samworthington, antonyelchin, ...",5.9,mcg,"All grown up in post-apocalyptic 2018, John Co...",1,0.870077
44,Furious 7,[action],102.322217,"[vindiesel, paulwalker, dwaynejohnson, michell...",7.3,jameswan,Deckard Shaw seeks revenge against Dominic Tor...,1,0.891875
2076,Machete Kills,"[action, crime, thriller]",29.072964,"[dannytrejo, melgibson, amberheard, michellero...",5.3,robertrodriguez,Ex-Federale agent Machete is recruited by the ...,1,0.893336

In [68]:
k = tmdb_5000_movies.query("original_title == @movie_name")
k

,budget,genres,id,original_language,original_title,overview,popularity,production_countries,release_date,spoken_languages,vote_average,vote_count,movie_id,title,cast,crew,director,soup
2114,19000000,"[adventure, comedy, sciencefiction, family]",105,en,Back to the Future,Eighties teenager Marty McFly is accidentally ...,76.603233,[United States of America],1985-07-03,[English],8.0,6079,105,Back to the Future,"[michaelj.fox, christopherlloyd, leathompson, ...","[{'credit_id': '52fe4218c3a36847f80039eb', 'de...",robertzemeckis,michaelj.fox christopherlloyd leathompson cris...

### Explanation in Natural Language

First recommended movie _(most similar one)_

In [98]:
title_recommendation_1 = f"\"{recommendations[0]['original_title']}\""
genres_recommendation_1 = recommendations[0]['genres']
popularity_recommendation_1 = recommendations[0]['vote_average']

Second recommended movie _(most popular recommended movie)_

In [99]:
recommendation_2 = pd.DataFrame(recommendations).sort_values("vote_average", ascending = False).iloc[0]

In [100]:
title_recommendation_2 = f"\"{recommendation_2['original_title']}\""
genres_recommendation_2 = recommendation_2['genres']
popularity_recommendation_2 = recommendation_2['vote_average']

More recommendations based on similarity

In [101]:
recommendation_list = []
for recommendation in recommendations:
    if f"\"{recommendation['original_title']}\"" != title_recommendation_1 and f"\"{recommendation['original_title']}\"" != title_recommendation_2:
        recommendation_list.append(
            (recommendation['original_title'], recommendation['distances'])
        )
recommendation_list

[('Shadow Conspiracy', 0.7666108289257597),
 ('The Terminator', 0.8028069696991798),
 ('Gods and Generals', 0.8259422883694896),
 ('The Debt', 0.862762879196903),
 ('Machete', 0.8693684473169241),
 ('Terminator Salvation', 0.8700765094021001),
 ('Furious 7', 0.891874657706978),
 ('Machete Kills', 0.8933359938559339)]

**Explanation**

In [102]:
make_explanation(
    movie = f"\"{movie_name}\"",
    recommendation_1 = {
        'title': title_recommendation_1,
        'genres': genres_recommendation_1,
        'popularity': popularity_recommendation_1
    },
    recommendation_2 = {
        'title': title_recommendation_2,
        'genres': genres_recommendation_2,
        'popularity': popularity_recommendation_2
    },
    recommendation_list = recommendation_list
)

We recommend you "True Lies" because it is the most similar to "Avatar" and its genre list is action and thriller.
Also you may like "Terminator 2: Judgment Day" because it is more popular than "True Lies" with an average of 7.7.


You may like some other films if you enjoyed "Avatar".
"Shadow Conspiracy" because it is "Slightly Similar".
"The Terminator" because it is "Slightly Similar".
"Gods and Generals" because it is "Slightly Similar".
"The Debt" because it is "Something new".
"Machete" because it is "Something new".
"Terminator Salvation" because it is "Something new".
"Furious 7" because it is "Something new".
"Machete Kills" because it is "Something new".